.jumbotron{
    /* background-color: black; */
}

.container {
width: 50%;
height: 50%;
align-content: center;
}
body{
    background-color:green


}
#a1{
    color:black;
}
#a2{
    color:black; 
}
#a3{
    color:black; 
}
#a4{
    color:black; 
}

